@{
    ViewBag.Title = "Home Page";
}

<h1>LeapRope() – a rope data structure</h1>
<h2>Comparative performance tests with Rope(), StringBuilder(), and BigList()</h2>



<div ng-controller="Main as main">

    <button class="btn btn-success btn-lg" ng-click="main.getFillTestResults()">Fill Test</button>
    <button class="btn btn-danger btn-lg" ng-click="main.getAppendTestResults()">Append Test</button>
    <button class="btn btn-warning btn-lg" ng-click="main.getPrependTestResults()">Pre-pend Test</button>
    <button class="btn btn-primary btn-lg" ng-click="main.getMidInsertTestResults()">Mid Insert Test</button>
    
    <input class="input-lg" ng-model="main.iterations" />
    <h1>{{main.graphTitle}} <span class="pull-right">War & Peace: 514,911 Words</span></h1>
    <canvas class="chart chart-line" style="margin-top:20px;" chart-data="main.timeData" chart-labels="main.timeLabels"
            chart-series="main.timeSeries"></canvas>

    @*<canvas class="chart chart-line" style="margin-top:20px;" chart-data="main.memoryData" chart-labels="main.memoryLabels"
            chart-series="main.memorySeries"></canvas>*@



</div>

@Scripts.Render("~/bundles/jquery")

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<script src="/Content/app/app.js"></script>
<script src="~/Content/app/config.js"></script>
<script src="~/Content/app/MainController.js"></script>





